.description
    display: flex
    flex-direction: column
    gap: 7.5rem
    padding: 0 2.4rem 0 0
    margin-bottom: 7.5rem

    @media(min-width: 768px)
        padding: 0 4rem
        margin-bottom: 14.2rem

.description__container
    display: flex
    gap: 2.4rem

    &:last-child
        align-items: center
        flex-direction: column

        @media(min-width: 768px)
            flex-direction: row
            gap: 9.8rem

            & > *
                text-align: left

.description__title
    width: 25.5rem
    font-size: 3.2rem
    font-weight: 900
    line-height: 36px
    text-align: center
    text-transform: uppercase

.imgContent
    img
        display: block
        width: 100%
        border-radius: 2rem

.imgContent:first-child
    img
        border-top-left-radius: 0
        border-bottom-left-radius: 0

// .imgContent:last-child
//     padding-right: 2.4rem
