.description
    display: flex
    gap: 2.4rem
    margin-top: 2.4rem
    margin-bottom: 7.5rem

.imgContainer
    img
        display: block
        width: 100%
        border-radius: 2rem

.imgContainer:first-child
    img
        border-top-left-radius: 0
        border-bottom-left-radius: 0

.imgContainer:last-child
    padding-right: 2.4rem
